@model Workspaces_Meeting_Rooms.Models.Login
@{
    ViewBag.Title = "Login";
}

@if (ViewBag.Title == "Login")
{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">
    <div class="left-section">
        <img src="https://www.wework.com/ideas/wp-content/uploads/sites/4/2021/08/20201008-199WaterSt-2_v1-scaled.jpg"
             alt="Imagen de fondo"
             style="width: 140%; height: 100%; object-fit: cover;" />
    </div>




    <div class="login-container">
        <h1>Bienvenido al sistema de reservas</h1>
        <hr>
        <h2>Iniciar Sesión</h2>

        @if (ViewBag.LoginError != null)
        {
            <div class="toast-message">
                @ViewBag.LoginError
            </div>
        }

        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(user => user.Email)
                @Html.TextBoxFor(user => user.Email, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(password => password.Password)
                @Html.PasswordFor(password => password.Password, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        }
    </div>
</div>
